@keyframes loader-spin {
	0% {
		stroke-dashoffset: 0;
		stroke-dasharray: 56.5 37.7;
	}
	50% {
		stroke-dasharray: 1 93.2;
	}
	100% {
		stroke-dashoffset: 188.5;
		stroke-dasharray: 56.5 37.7;
	}
}

.tj-loader .tj-loader-spinner {
	animation: 2s linear loader-spin infinite;
}
